.footer__social_icon{

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
    text-decoration: none;
}
    .footer__social_icon:hover{
      transition: color 1s linear 1s;
      opacity: 0.5;
    }





