.footer__social-icon-BK{

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
    text-decoration: none;
}

.footer__social-icon-BK:hover{
  transition: color 1s linear 1s;
  opacity: 0.5;
 }

.footer__social-icon-BK::before{
  content:url(../../../images/vk_color_white.svg);
  padding-right: 10px;
}

