.table_theme_dark{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0px;
  margin-bottom: 90px;
  color: white;
  list-style-type: none;
  }
