.footer__social-icon-FB{

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
    text-decoration: none;
}

.footer__social-icon-FB:hover{
  transition: color 1s linear 1s;
  opacity: 0.5;
 }


.footer__social-icon-FB::before{
    content:url(../../../images/facebook_color_white.svg);
    padding-right: 10px;
  }
